:root {
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;
  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;
}

body {
  background-color: var(--light-blue-200);
  font-family: "Inter";
  min-height: 100vh;
}

p {
  text-wrap: pretty;
  text-align: start;
}

button {
  border: none;
  height: 68px;
  width: 300px;
  border-radius: 24px;
  cursor: pointer;
}

img {
  max-width: 70%;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

header {
  padding: 20px 28px;
}

#input-principal textarea {
  font-size: 32px;
  margin-left: 114px;
  margin-top: 168px;
  width: 577px;
  height: 300px;
  color: var(--dark-blue-500);
  background-color: var(--light-blue-200);
  border: none;
  resize: none;
}

#input-principal textarea:focus {
  outline: none;
}

#input-principal textarea::placeholder {
  color: var(--dark-blue-400);
}

#btn-sec {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-left: 120px;
  margin-top: 120px;
}

.warning-text {
  display: flex;
  color: var(--gray-400);
  height: 50px;
}

.warning-text svg {
  margin: auto 4px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 20px;
}

#btn-enc {
  color: #fff;
  background-color: var(--dark-blue-300);

  &:hover {
    border: 2px solid;
    border-color: var(--dark-blue-300);
    background-color: var(--dark-blue-100);
    transition: 0.5s;
  }
}

#btn-des {
  background-color: var(--gray-100);

  &:hover {
    color: #fff;
    border: 2px solid;
    border-color: var(--gray-400);
    background-color: var(--gray-300);
    transition: 0.5s;
  }
}

#btn-copy {
  display: none;
  margin: 64px auto;

  &:hover {
    border: 2px solid;
    border-color: var(--gray-300);
  }
}

#text-result {
  color: var(--gray-400);
  background-color: #fff;
  width: 320px;
  height: 80vh;
  margin-left: 12px;
  padding: 8px 12px;
  border-radius: 12px;
  display: grid;
  grid-template-rows: 80% 20%;
}

#result {
  font-size: 18px;
  text-align: center;
  margin: auto 0px;
}

@media (max-width: 1024px) {
  main {
    flex-direction: column;
  }

  #input-principal {
    margin: 20px 0px;
  }

  #input-principal textarea {
    margin: 20px 10%;
    width: 80%;
  }

  #btn-sec {
    margin: 0px 20px;
  }

  .buttons,
  .warning-text {
    justify-content: center;
  }

  #text-result {
    margin: 40px auto;
    width: 400px;
  }

  #btn-copy {
    margin: auto;
  }
}

@media (max-width: 768px) {
  body {
    width: 100vw;
  }

  main {
    flex-direction: column;
  }

  #input-principal {
    margin: 20px 0px;
    width: 100%;
  }

  #input-principal textarea {
    margin: 20px 10%;
    width: 80%;
  }

  #btn-sec {
    margin: 0px 20px;
  }

  .buttons,
  .warning-text {
    justify-content: center;
  }

  #text-result {
    margin: 40px auto;
  }

  #btn-copy {
    margin: auto;
  }
}

@media (width <= 480px) {
  header {
    padding: 10px 8px;
    text-align: start;
  }

  .logo svg {
    margin-left: -34px;
    margin-bottom: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }

  #btn-sec {
    grid-template-rows: 1fr;
  }

  #btn-copy {
    width: 70%;
  }

  #input-principal {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  #input-principal textarea {
    margin: 20px 10%;
    width: 80%;
  }

  #text-result {
    width: 80%;
  }
}
