.flex{
    display: flex;
    justify-content: space-around;
}
.text-center{
    text-align: center;
}

.m-top{
    margin-top: 26px;   
}

#btn-sec{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
}

#input-principal{
    padding: 2px 8px;
}

#btn-copy{
    display: none;
    width: 80px;
    height: 26px;
    margin: auto 0;
}

#text-result div{
    width: 40%;
    margin: auto;
    padding: 4px 12px;
}